<!-- layouts/shortcodes/button.html -->
<a href="https://checkout.stripe.com/c/pay/ppage_1P6t9FG1CsQjvloFlLvR4wBR#fidkdWxOYHwnPyd1blppbHNgWmFsbzNCV3ZSQ0JGMHFrbnV%2FfTxqZjNSPCcpJ2hsYXYnP34nYnBsYSc%2FJzw9NDZhZjMwKDJmZzYoMWBnZChnYzMyKDAxNGFjPTw8ZjU3MTI8MTxjYScpJ2hwbGEnPyc9N2YyZ2Y8PSg1NDcxKDEwZ2AoPGE2Mig0M2cxNmQ2NWBkNTY0MWZhNzQnKSd2bGEnPydjMTM0MzZjMygyZ2MxKDExZmYoPDdgYChgZzVmPDxnNGEwYDMzMDNjZDQneCknZ2BxZHYnP15YKSdpZHxqcHFRfHVgJz8ndmxrYmlgWmxxYGgnKSd3YGNgd3dgd0p3bGJsayc%2FJ21xcXV2PyoqZmphbGtiY2p3bmxhditqd2IrZHAnKSdpamZkaWAnP2twaWl4JSUl" class="button">
    <input type="submit" value="{{ .Get "value" | html }}" class="{{ .Get "class" | html }}">
</a>

